# Data Manipulation and Analysis
pandas
numpy
sqlalchemy
pymysql
configparser

# Natural Language Processing (NLP)
nltk
transformers
sentence-transformers
spacy

# Machine Learning and Deep Learning
scikit-learn
joblib
tensorflow 
tf-keras 
torch
torchvision
huggingface-hub

# Visualization
matplotlib
seaborn
wordcloud

# Web Frameworks and APIs
fastapi
uvicorn
streamlit

# Utilities
termcolor
pinecone